/* roboto, raleway body css style */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* header css style */

.nav-a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-span {
    color: #2e2f42;
    font-family: 'Raleway', sans-serif;

}

.nav-lione {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.nav-lione:hover {
    color: #404bbf;
}

.nav-lione:focus {
    color: #404bbf;
}

.nav-adres {
    font-style: normal;

}

.adres-a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.adres-a:hover {
    color: #404bbf;
}

.adres-a:focus {
    color: #404bbf;
}

/* effective solutions and button css style */


.one-sec {
    background-color: #2e2f42;
}

.one-sechone {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.one-secbut {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.one-secbut:hover {
    background-color: #404BBF
}

.one-secbut:focus {
    background-color: #404BBF;
}

/* two section css style */
.twosect-huc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.twosect-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}

/* our team css style */

.thersect {
    background-color: #f4f4fd;

}

.thersect-hiki {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

.thersect-li {
    background-color: #FFFFFF;

}

.thersect-lihuc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.thersect-lip {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* our portfolio css style */


.foursect-hiki {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

.foursect-huc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.foursect-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}


/* footer css style */

.footer-class {
    background-color: #2e2f42;

}

.foot-erpp {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.logo-span {
    color: #F4F4FD;
}